<html>
    <body>
        <h1>Submitted information</h1>
        <h3>Name: <%= data.name%></h3>
        <h3>Dojo Location: <%= data.location%></h3>
        <h3>Favorite Language: <%= data.language%></h3>
        <h3>Comment:<%= data.comment%></h3>
        <a href="/">try again</a>
    </body>
</html>